<footer class="bg-dark bottom-50 text-light">
    <div class="container ps-4 pe-4 pt-5 pb-5">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h5>О сайте</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a>
                            Наши контакты
                        </a>
                    </li>
                    <li>
                        <a>
                            О проекте
                        </a>
                    </li>
                    <li>
                        <a>
                            Связаться с нами
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12">
                <h5>Навигация по сайту</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a>
                            Стартапы
                        </a>
                    </li>
                    <li>
                        <a>
                            Личный кабинет
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12">
                <h5>Мои платежи</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a>
                            История инвестирования
                        </a>
                    </li>
                    <li>
                        <a>
                            Пополнить баланс
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
